<footer class="bg-dark text-white container-fluid">
  <div class="row px-5 py-3">
    <div class="col-12 col-sm-6 col-lg-3">
      <h5 class="text-gray mb-3">About</h5>
      <ul class="list-unstyled">
        <li>Contact us</li>
        <li>About us</li>
        <li>Careers</li>
        <li>Press</li>
      </ul>
    </div>
    <div class="col-12 col-sm-6 col-lg-3">
      <h5 class="text-gray mb-3">Help</h5>
      <ul class="list-unstyled">
        <li>Payments</li>
        <li>Shipping</li>
        <li>FAQ</li>
        <li>Cancellation</li>
      </ul>
    </div>
    <div class="col-12 col-sm-6 col-lg-3">
      <h5 class="text-gray mb-3">Privacy</h5>
      <ul class="list-unstyled">
        <li>Return Policy</li>
        <li>Terms of use</li>
        <li>Security</li>
        <li>Privacy</li>
      </ul>
    </div>
    <div class="col-12 col-sm-6 col-lg-3">
      <h5 class="text-gray mb-3">Social</h5>
      <ul class="list-unstyled">
        <li><a class="text-light text-decoration-none" href="https://facebook.com">Facebook</a></li>
        <li><a class="text-light text-decoration-none" href="https://instagram.com">Instagram</a></li>
        <li><a class="text-light text-decoration-none" href="https://twitter.com">Twitter</a></li>
        <li><a class="text-light text-decoration-none" href="https://youtube.com">YouTube</a></li>
      </ul>
    </div>
  </div>
</footer>