<header class="navbar navbar-expand-lg bg-primary navbar-dark justify-content-around shadow">
  <nav class="container">
    <a routerLink="" class="navbar-brand text-white fw-bold">
      <i class="fas fa-shipping-fast mx-2"></i>
      <span>ShopKart</span>
    </a>
    <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarSupportedContent"
      aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
      <span class="navbar-toggler-icon"></span>
    </button>
    <div class="collapse navbar-collapse text-white fs-5" id="navbarSupportedContent">
      <form class="search-form d-flex flex-grow-1">
        <input class="w-lg-100 form-control me-2 searchbox" type="search" placeholder="Search" aria-label="Search">
        <span><i class="text-dark fas fa-search fs-4"></i></span>
      </form>
      <ul class="navbar-nav right-content align-items-center">
        <li class="nav-item mx-1 fw-bold btn btn-light text-primary" routerLink="/login">Login</li>
        <a class="nav-item mx-1 fw-bold btn btn-light text-primary" routerLink="/signup">SignUp</a>
        <li class="nav-item mx-2 ms-5">
          <a routerLink="/cart" class="text-light text-decoration-none">
            <i class="fas fa-cart-plus fs-4"></i>
            <span class="cart-badge badge bg-danger d-none d-sm-inline">5</span>
          </a>
        </li>
      </ul>
    </div>
  </nav>
</header>
