<div class="container m-md-5">
  <div class="card bg-light">
    <div class="card-body mx-auto">
      <h1 class="card-title mt-5 text-center">Login</h1>
      <form>
        <div class="form-group input-group mb-4">
          <div class="input-group-prepend">
          </div>
          <input type="email" class="form-control" id="email" placeholder="Email" aria-label="email">
        </div>
        <div class="form-group input-group mb-4">
          <div class="input-group-prepend">
          </div>
          <input type="password" class="form-control" id="password" placeholder="password" formControlName="password" aria-label="password">
        </div>
        <div class="d-flex justify-content-center">
          <button type="button" class="btn btn-primary text-light btn-block py-2 px-4 gradient-custom-4">Login</button>
        </div>
        <p class="text-center text-muted mt-4 mb-0">New user?<a routerLink="/signup"
            class="ms-2 fw-bold text-body"><u>Register</u></a></p>
      </form>
    </div>
  </div>
</div>
