<div class="shadow-sm border border-1 p-2 m-2">
    <div class="d-flex justify-content-between align-items-center">
        <h4 class="category-name">{{ category_name }}</h4>
        <button class="btn btn-primary text-light" routerLink="/category/{{category_name}}">View All</button>
    </div>
    <hr class="">
    <div class="products d-flex justify-content- overflow-auto my-2 py-2" style="position: relative;">
        <!-- <button>Prev</button> -->
        <div class="product text-center mx-4" *ngFor="let i of product">
            <img src="{{category_img}}" alt="" style="height: 150px">
            <h6 class="product-title">Season's Best Seller</h6>
            <p class="discount">50-80% off</p>
            <p class="sub-category">{{ product_name }}</p>
        </div>
        <!-- <button>Next</button> -->
    </div>
</div>