::-webkit-scrollbar {
    height: 2px;
}

::-webkit-scrollbar-track {
    background: #eee;
}

::-webkit-scrollbar-thumb {
    background: #888;
}

::-webkit-scrollbar-button {
    background: #0d6efd;
}

.product>img:hover {
    transform: scale(1.03);
    -webkit-transform: scale(1.03);
    -moz-transform: scale(1.03);
    -ms-transform: scale(1.03);
    -o-transform: scale(1.03);
}

.product {
    cursor: pointer;
}