<div class="container p-3 my-4 shadow-lg mx-auto text-center align-middle h-100">
  <h4 class="d-flex mb-5">My Cart</h4>

  <div *ngIf="cart.length < 1 || !isLoggedIn; else elseBlock">
    <img class="cart-empty-img"
      src="https://rukminim1.flixcart.com/www/800/800/promos/16/05/2019/d438a32e-765a-4d8b-b4a6-520b560971e8.png?q=90"
      alt="">
    <p class="fs-5">Missing cart items?</p>
    <p class="" *ngIf="!isLoggedIn; else shopNowText">Login to see the items you added previously</p>
    <ng-template class="" #shopNowText>Shop now to add items to the cart</ng-template>
    <button *ngIf="!isLoggedIn; else shopNowBtn" class="btn btn-danger rounded-0 py-2 px-5" routerLink="/login">Login</button>
    <ng-template #shopNowBtn class="btn btn-danger rounded-0 py-2 px-5"><button
        class="btn btn-primary text-light rounded-0 py-2 px-5 d-block mx-auto my-2" routerLink="/">Shop Now</button></ng-template>

  </div>

  <ng-template #elseBlock>
    <template class="d-flex shadom-sm border-bottom my-4" *ngFor="let item of cart">
      <img style="height: 150px;" class="me-5"
        src="https://rukminim1.flixcart.com/www/800/800/promos/16/05/2019/d438a32e-765a-4d8b-b4a6-520b560971e8.png?q=90"
        alt="">
      <div class="cart-product text-start">
        <h4>{{ item.name }}</h4>
        <strong class="d-block my-3">Rs. {{ item.price }}</strong>
        <button class="btn btn-secondary" (click)="decreaseItemCount(item)">-</button>
        <span>{{ item.quantity }}</span>
        <button class="btn btn-secondary" (click)="increaseItemCount(item)">+</button>
        <button class="ms-3 btn btn-outline-secondary" (click)="removeFromCart(item)">Remove</button>
      </div>
    </template>
    <div class="d-flex justify-content-between align-items-center">
      <span class="d-flex fw-bold">Order Total: <span class="ms-2 text-danger">Rs. {{ orderTotal() }}/-</span></span>
      <button class="btn btn-danger my-2 ms-auto d-flex py-2 px-5" (click)="placeOrder()">Place Order</button>
    </div>
  </ng-template>
</div>
