<div class="container my-2 my-md-4 mx-auto">
  <div class="card bg-light">
    <div class="card-body mx-auto">
      <h1 class="card-title mt-5 text-center">Register</h1>
      <form (submit)="register()">
        <div class="form-group input-group mb-4">
          <div class="input-group-prepend">
            <span class="input-group-text">
              <i class="fa fa-user mr-3 py-1"></i>
            </span>
          </div>
          <input type="text" class="form-control" placeholder="Full Name" required aria-label="Full name" name="fullname" [(ngModel)]="fullname">
        </div>
        <div class="form-group input-group mb-4">
          <div class="input-group-prepend">
            <span class="input-group-text">
              <i class="fa  fa-envelope mr-3 py-1"></i>
            </span>
          </div>
          <input type="email" class="form-control" id="email" placeholder="Email" required
            aria-label="Email" name="email" [(ngModel)]="email">
        </div>
        <div class="form-group input-group mb-4">
          <div class=input-group-prepend>
            <span class="input-group-text">
              <i class="fa fa-phone mr-3 py-1"></i>
            </span>
          </div>
          <input type="number" class="form-control" placeholder="Phone Number" aria-label="phone number" minlength="10" name="phone" [(ngModel)]="phone">
        </div>
        <div class="form-group input-group mb-4">
          <div class="input-group-prepend">
            <span class="input-group-text">
              <i class="fa fa-lock py-1"></i>
            </span>
          </div>
          <input type="password" class="form-control" id="password" placeholder="password"
            required aria-label="password" minlength="8" name="password" [(ngModel)]="password">
        </div>
        <div class="form-group input-group mb-4">
          <div class="input-group-prepend">
            <span class="input-group-text">
              <i class="fa fa-lock py-1"></i>
            </span>
          </div>
          <input type="password" class="form-control" id="confirm-password" placeholder="Confirm Password" required aria-label="confirm-password" minlength="8" name="confirm-password" [(ngModel)]="confirmPassword">
        </div>
        <div class="d-flex justify-content-center">
          <button type="submit" class="btn btn-primary text-light btn-block px-5 py-2 gradient-custom-4">Register</button>
        </div>
        <p class="text-center text-muted mt-4 mb-0">Have already an account? <a routerLink="/login"
            class="ms- 2 fw-bold text-body"><u>Login here</u></a></p>
      </form>
    </div>
  </div>
</div>
