<div>
    <div class="container">
        <div class="card bg-light">
            <div class="card-body mx-auto">
                <h3 class="card-title mt-5 text-center">Register</h3>
                <form>
                    <div class="form-group input-group mb-4">
                        <div class="input-group-prepend">
                            <span class="input-group-text">
                                <i class="fa fa-user mr-3"></i>
                            </span>
                        </div>
                        <input type="text" class="form-control" placeholder="Full Name">
                    </div>
                    <div class="form-group input-group mb-4">
                        <div class="input-group-prepend">
                            <span class="input-group-text">
                                <i class="fa  fa-envelope mr-3"></i>
                            </span>
                        </div>
                        <input type="email" class="form-control" id="email" placeholder="Email">
                    </div>
                    <div class="form-group input-group mb-4">
                        <div class=input-group-prepend>
                            <span class="input-group-text">
                                <i class="fa fa-phone mr-3"></i>
                            </span>
                        </div>
                        <input type="number" class="form-control" placeholder="Phone Number">
                    </div>
                    <div class="form-group input-group mb-4">
                        <div class="input-group-prepend">
                            <span class="input-group-text">
                                <i class="fa fa-lock"></i>
                            </span>
                        </div>
                        <input type="password" class="form-control" id="password" placeholder="password"
                            formControlName="password">
                    </div>
                    <div class="form-group input-group mb-4">
                        <div class="input-group-prepend">
                            <span class="input-group-text">
                                <i class="fa fa-lock"></i>
                            </span>
                        </div>
                        <input type="password" class="form-control" id="password" placeholder="Confirm Password"
                            formControlName="password">
                    </div>
                    <div class="d-flex justify-content-center">
                        <button type="button"
                            class="btn btn-success btn-block btn-lg gradient-custom-4 text-body">Register</button>
                    </div>
                    <p class="text-center text-muted mt-4 mb-0">Have already an account? <a href="#!"
                            class="fw-bold text-body"><u>Login here</u></a></p>
                </form>
            </div>
        </div>
    </div>
</div>