<div class="container p-2 my-3">
  <div class="d-flex justify-content-between">
    <h3 class="d-block mb-0 text-capitalize">{{ category_name }}</h3>
    <i (click)="backToPreviousPage()" class="h2 text-primary fas fa-arrow-left backButton" data-bs-toggle="tooltip"
      data-bs-placement="bottom" title="Back to Previous Page"></i>
  </div>
  <small class="text-muted">{{ products.length }} results in {{ randomTime }}s</small>
  <div class="mt-3 mb-5 d-flex flex-wrap justify-content-center">
    <div routerLink="{{ '/view/' + product._id }}"
      class="single-product card px-3 py-1 mx-2 my-1 col-12 col-sm-6 col-md-4 col-lg-3" style="width: 18rem;"
      *ngFor="let product of products">
      <div class="card-body">
        <!-- src="{{ product.img  || 'https://rukminim1.flixcart.com/image/543/652/jur9nrk0/shoe/k/b/a/wonder-1313-7-asian-grey-orange-original-imaffbmzjc5hmagy.jpeg?q=50'}}" -->
        <img
          src="{{product.img || 'https://rukminim1.flixcart.com/image/543/652/jur9nrk0/shoe/k/b/a/wonder-1313-7-asian-grey-orange-original-imaffbmzjc5hmagy.jpeg?q=50'}}"
          class="card-img-top" alt="" style="height: 300px">
        <h5 class="card-title mt-4">{{ product.name }}</h5>
        <div class="card-text d-flex justify-content-between">
          <p class="flex-grow-1">
            <span class="text-primary fw-bold me-3">Rs. {{ product.price }}/-</span>
            <span class="text-danger text-decoration-line-through">Rs. {{ product.originalPrice }}/-</span>
          </p>
          <span class="fw-bold">{{ ((product.originalPrice -product.price) / product.originalPrice) * 100 | number : '1.0-0' }}% off</span>
        </div>
        <a routerLink="{{ '/view/' + product._id }}" class="btn btn-outline-primary mx-1">View</a>
        <a routerLink="/cart" class="btn btn-primary mx-1" (click)="addToCart(product._id)">Add to Cart</a>
      </div>
    </div>
  </div>
</div>
