<div class="main">
    <app-category-filter-navbar></app-category-filter-navbar>
    <app-homepage-carousel></app-homepage-carousel>
    <div *ngFor="let category of displayCategories">
        <app-category-display category="{{category}}" category_name="{{category}}"></app-category-display>
    </div>
    <!-- <app-category-display product_name="Men's Sneaker" category_name="Men's Footwear" category_img="https://rukminim1.flixcart.com/image/543/652/jur9nrk0/shoe/k/b/a/wonder-1313-7-asian-grey-orange-original-imaffbmzjc5hmagy.jpeg?q=50"></app-category-display>
    <app-category-display product_name="Women's Sandals" category_name="Women's Footwear" category_img="https://rukminim1.flixcart.com/image/543/652/jwpa8i80/sandal/v/k/x/13827-9-walkaroo-13827-copper-original-imafhc39ax9gphbt.jpeg?q=50"></app-category-display> 
    <app-category-display product_name="Boat Headphones" category_name="Electronic's" category_img="https://rukminim1.flixcart.com/image/200/200/k2f1n680/headphone/9/g/s/boat-rockerz-400-super-extra-bass-original-imafg95ztgz7z8yz.jpeg?q=70"></app-category-display>  -->
</div>
 
