<section class="container my-5">
  <aside class="card mb-3 col-12 col-md-3">
    <div class="row g-0">
      <div class="col-md-4 d-flex align-items-center justify-content-center">
        <img src="https://static-assets-web.flixcart.com/www/linchpin/fk-cp-zion/img/profile-pic-male_4811a1.svg"
          class="img-fluid rounded-start" alt="">
      </div>
      <div class="col-md-8">
        <div class="card-body">
          <small>Hello, </small>
          <h5 class="card-title">Abhijeet Dhanwate</h5>
        </div>
      </div>
    </div>
  </aside>
</section>
